{% extends "base.html" %}

{% block content %}
<div class="about-page">
    <h1>Магазин Souvenir Muiv Shop</h1>
    <p>Мы - команда профессионалов, увлеченных красотой и уникальностью сувенирной продукции для любимого университета.</p>
    <p>Наш магазин предлагает широкий выбор продукции для студентов и подарков на любой вкус.</p>
    <p>В Souvenir Muiv Shop мы стремимся к тому, чтобы каждый наш клиент получил не только товар высочайшего качества, но и незабываемый опыт покупки. </p>
    <p>Наши товары с брендом Московского университета ИМ. С. Ю.Витте, подойдут как студентам так и желающим обучатся в нашем университете.</p>
</div>
{% endblock %}