{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
    <h1>Корзина</h1>
    {% if products %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;">Номер</th>
                        <th style="text-align: center;">Фото товара</th>
                        <th style="text-align: center;">Наименование</th>
                        <th style="text-align: center;">Количество</th>
                        <th style="text-align: center;">Цена</th>
                        <th style="text-align: center;">Итого</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr data-product-id="{{ product.id }}">
                            <td style="text-align: center;">{{ forloop.counter }}</td>
                            <td style="text-align: center;">
                                {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-thumbnail" style="max-width: 100px;">
                                {% else %}
                                    <span>Нет изображения</span>
                                {% endif %}
                            </td>
                            <td style="text-align: center;">{{ product.title }}</td>
                            <td style="text-align: center;">
                                <form action="{% url 'shop:update_quantity' product.id %}" method="post" class="quantity-form">
                                    {% csrf_token %}
                                    <button type="submit" name="action" value="decrease" class="btn btn-sm btn-outline-secondary quantity-button">-</button>
                                    <input type="number" name="quantity" value="{{ product.quantity_in_cart }}" min="1" max="{{ product.quantity }}" class="quantity-input" onchange="this.form.submit()">
                                    <button type="submit" name="action" value="increase" class="btn btn-sm btn-outline-secondary quantity-button" {% if product.quantity_in_cart >= product.quantity %}disabled{% endif %}>+</button>
                                </form>
                                {% if product.quantity_in_cart >= product.quantity %}
                                    <p class="text-danger">Для заказа доступно шт: {{ product.quantity }}</p>
                                {% endif %}
                            </td>
                            <td style="text-align: center;" class="price">{{ product.price }}</td>
                            <td style="text-align: center;" class="total-price-cell">{{ product.total_price|floatformat:2 }}</td>
                            <td style="text-align: center;">
                                <a href="{% url 'shop:remove_from_cart' product.id %}" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-right"><strong>Итог:</strong></td>
                        <td id="total-price">{{ total_price }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="text-right">
            <a href="{% url 'shop:checkout' %}" class="btn btn-outline-success">Оформить заказ</a>
        </div>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}

    <style>
        .quantity-button, .quantity-input {
            width: 40px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            padding: 0;
            margin: 0;
        }
        .quantity-input::-webkit-inner-spin-button,
        .quantity-input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        .quantity-input {
            -moz-appearance: textfield;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const quantityInputs = document.querySelectorAll('.quantity-input');
            quantityInputs.forEach(input => {
                input.addEventListener('change', function() {
                    this.form.submit();
                });
            });
        });
    </script>
{% endblock %}