{% extends "base.html" %}

{% block content %}
<style>
    .btn-outline-success {
        border-color: #c21631;
        color: #c21631;
    }

    .btn-outline-success:hover {
        background-color: #c21631;
        color: #fff;
    }
</style>

<h1>Оформление заказа</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="first_name">Имя:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
    </div>
    <div class="form-group">
        <label for="last_name">Фамилия:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
    </div>
    <div class="form-group">
        <label for="phone_number">Номер телефона:</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="address">Адрес:</label>
        <input type="text" class="form-control" id="address" name="address" required>
    </div>
    <div class="form-group">
        <label for="postal_code">Индекс:</label>
        <input type="text" class="form-control" id="postal_code" name="postal_code" required>
    </div>
    <div class="form-group">
        <label for="city">Город:</label>
        <input type="text" class="form-control" id="city" name="city" required>
    </div>
    <div class="form-group">
        <label for="comment">Комментарий:</label>
        <textarea class="form-control" id="comment" name="comment"></textarea>
    </div>

    <h2 style="font-size: 1.2em; font-weight: normal;">Способ оплаты</h2>
    <div class="form-group">
        <input type="checkbox" id="pay_online" name="pay_online" onclick="togglePaymentMethod(this)">
        <label for="pay_online">Оплата картой</label>
    </div>
    <div class="form-group">
        <input type="checkbox" id="pay_on_delivery" name="pay_on_delivery" onclick="togglePaymentMethod(this)">
        <label for="pay_on_delivery">Наличными или картой при получении</label>
    </div>

    <button type="submit" class="btn btn-outline-success">Заказать</button>
</form>

<script>
    function togglePaymentMethod(checkbox) {
        var payOnline = document.getElementById('pay_online');
        var payOnDelivery = document.getElementById('pay_on_delivery');

        if (checkbox === payOnline && payOnline.checked) {
            payOnDelivery.checked = false;
        } else if (checkbox === payOnDelivery && payOnDelivery.checked) {
            payOnline.checked = false;
        }
    }
</script>
{% endblock %}